<div class="upload_video_page">
    <div class="inner_upload_video_page">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page_heading">
                        <h4>Instant Video Translator</h4>
                        <p>Settings</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main_content_section">
        <div class="main_inner_content_section">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
