<div class="service_areas">
    <div class="inner_service_areas">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                    <div class="service_cards">
                        <div class="inner_service_card">
                            <div class="card_icon">
                                <div class="inner_card_icon">
                                    <span>
                    <img src="../../../../../assets/img/d1.png" alt="" class="card_ic">
                  </span>
                                </div>

                            </div>
                            <div class="card_yxt">
                                <h4>Free</h4>
                                <p>SSL protection ensures encrypted data transmission and obscured PII storage prevents secure data leakage </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                    <div class="service_cards">
                        <div class="inner_service_card">
                            <div class="card_icon">
                                <div class="inner_card_icon">
                                    <span>
                  <img src="../../../../../assets/img/d2.png" alt="" class="card_ic">
                </span>
                                </div>

                            </div>
                            <div class="card_yxt">
                                <h4>Accurate</h4>
                                <p>Be informed on Live Govt. updates on Compliances, employee performances, activities, payroll and much more</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                    <div class="service_cards">
                        <div class="inner_service_card">
                            <div class="card_icon">
                                <div class="inner_card_icon">
                                    <span>
                <img src="../../../../../assets/img/d3.png" alt="" class="card_ic">
              </span>
                                </div>

                            </div>
                            <div class="card_yxt">
                                <h4>Fast</h4>
                                <p>Generate and schedule any reports, such as attendance, payroll, PF, PT, ESI, paystub or any custom report with just one click</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
