<div class="contact_section">
    <div class="main_inner_contect_section">
        <div class="container">
            <div class="contact_box">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                        <div class="contact_image">
                            <div class="inner_contact_img">
                                <img src="../../../../../assets/img/cont.png" class="for_contact" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                        <div class="contact_form_box">
                            <div class="inner_contact_form_box">
                                <form action="">
                                    <div class="contact_forms">
                                        <div class="input_box">
                                            <input type="text" class="input_fields" placeholder="Full Name">
                                            <div class="input_icons">
                                                <img src="../../../../../assets/img/Vector.png" alt="">
                                            </div>
                                        </div>
                                        <div class="input_box">
                                            <input type="text" class="input_fields" placeholder="Email ID">
                                            <div class="input_icons">
                                                <img src="../../../../../assets/img/messagesquare.png" alt="">
                                            </div>
                                        </div>
                                        <div class="message_boxe">
                                            <div class="inner_message_boxs">
                                                <textarea name="" id="" placeholder="Message"></textarea>
                                            </div>
                                        </div>
                                        <div class="submit_btn_areas">
                                            <div class="inner_btns_areas">
                                                <button>Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
