<div class="login_page_areass">
    <div class="inner_login_page_areass">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="sign_in_form_box">
                        <div class="inner_sign_in_form_box">
                            <div class="sign_box">
                                <div class="login_header">
                                    <h2>
                                        Sign Up
                                    </h2>
                                </div>
                                <!-- <form action=""> -->
                                <div class="sign_box_inner">
                                    <div class="form_btn_areas">
                                        <div class="ss_btn">
                                            <button class="google_btn">
                                            <span>
                                              <img src="../../../../assets/img/google.png" alt="">
                                            </span>
                                            Continue With Google
                                          </button>
                                            <button class="facbook_btn">
                                            <span>
                                              <img src="../../../../assets/img/fb.png" alt="">
                                            </span>
                                            Continue With Facebook
                                          </button>
                                        </div>
                                    </div>
                                    <div class="or_options">
                                        <h4>OR</h4>
                                    </div>
                                    <div class="input_boxs mb-4">
                                        <div class="field">
                                            <input type="text" required autocomplete="off" id="username" value="">
                                            <label for="username" title="Enter Your Email ID" data-title="Email ID"></label>
                                        </div>
                                    </div>
                                    <div class="input_boxs">
                                        <div class="field">
                                            <input type="text" required autocomplete="off" id="password" value="">
                                            <label for="password" title="Enter Your Password" data-title="Password"></label>
                                            <span class="input_icon">
                                              <img src="../../../../assets/img/eye.png" alt="" srcset="">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="submit_btnss">
                                        <button class="custom_btns">Register</button>
                                    </div>
                                </div>
                                <!-- </form> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6"></div>
            </div>
        </div>
    </div>
</div>