<div class="about_sections">
    <div class="inner_about_sections">
        <div class="about_header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="full_abt_content">
                            <h2>Who we are ?</h2>
                            <p>Gov.in is a cloud service developed for government entities to generate Secure, Scalable & Sugamya (Accessible) websites. It enables government entities to choose from various themes for generating websites as well as customizing
                                and managing the content easily</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>