<div class="main_footer_areas">
    <div class="footer_section">
        <div class="inner_footer_section">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-12">
                        <div class="footer_column">
                            <div class="inner_footer_column">
                                <div class="footer_header">
                                    <h4>Follow Us</h4>
                                </div>
                                <div class="footer_content">
                                    <div class="inner_footer_contents">
                                        <div class="footer_social_area">
                                            <ul>
                                                <li><a href=""><span><img src="../../../assets/img/facebook.png" alt="" srcset=""></span></a></li>
                                                <li><a href=""><span><img src="../../../assets/img/twitter.png" alt="" srcset=""></span></a></li>
                                                <li><a href=""><span><img src="../../../assets/img/insta.png" alt="" srcset=""></span></a></li>
                                                <li><a href=""><span><img src="../../../assets/img/youtube.png" alt="" srcset=""></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4"></div>
                    <div class="col-xl-4 col-12">

                        <div class="footer_column">
                            <div class="inner_footer_column">
                                <div class="footer_header">
                                    <h4>Pages</h4>
                                </div>
                                <div class="footer_content">
                                    <div class="inner_footer_contents">
                                        <div class="footer_link_nav">
                                            <ul>
                                                <li><a href="" class="links">Contact</a></li>
                                                <li><a href="" class="links">About us</a></li>
                                                <li><a href="" class="links">Privacy policy</a></li>
                                                <li><a href="" class="links">Terms and conditions</a></li>
                                                <li><a href="" class="links">FAQ</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_copy_right">
        <div class="inner_footer_copy_right">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="full_footer_copyright">
                            <h4>© {{year}} | Designed & Developed by moviid</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
