<div class="banner_section">
    <div class="inner_banner_sections">
        <div class="banner_areas">

            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="slider_item" style="background-image: url('../../../../../assets/img/banner_img.png');">
                        <!-- <img src="../../../../../assets/img/banner_img.png" alt="" srcset=""> -->
                        <div class="row">
                            <div class="col-xl-6 col-lg-8 col-md-8 col-12">
                                <div class="video_slidings_box">
                                    <span class="svg_bg">
                                    <svg xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 769 635" fill="none">
                                      <g filter="url(#filter0_f_37_214)">
                                        <path d="M-2 4H765L633.982 631H-2V4Z" fill="black" fill-opacity="0.68"/>
                                      </g>
                                      <defs>
                                        <filter id="filter0_f_37_214" x="-6" y="0"  filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                                          <feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_37_214"/>
                                        </filter>
                                      </defs>
                                    </svg>
                                  </span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-4 col-md-4 col-0">

                            </div>
                        </div>





                        <div class="banner_content_section">
                            <div class="inner_banner_content_section">


                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-8 col-md-8 col-12">
                                            <div class="banner_up_video_content">
                                                <div class="inner_banner_up_video">
                                                    <h4><span>Upload</span> Once.<br>Translate <span>
                                                  Video
                                                </span> to<br>any <span>Language</span> Video.</h4>
                                                    <p>
                                                        Enjoy quick staff onboarding, monitor employee performance,<br>one click approval for leave, timesheet, claims, and much more.
                                                    </p>
                                                    <div class="banner_up_video_btns">
                                                        <button class="white_btnss active_btn" routerLink="/upload-video/video-upload">Video Upload</button>
                                                        <button class="white_btnss" routerLink="/upload-video/video-upload">Pro Video Upload</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-4 col-md-4 col-0"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slider_item" style="background-image: url('../../../../../assets/img/banner_img.png');">
                        <!-- <img src="../../../../../assets/img/banner_img.png" alt="" srcset=""> -->
                        <div class="row">
                            <div class="col-xl-6 col-lg-8 col-md-8 col-12">
                                <div class="video_slidings_box">
                                    <span class="svg_bg">
                                    <svg xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 769 635" fill="none">
                                      <g filter="url(#filter0_f_37_214)">
                                        <path d="M-2 4H765L633.982 631H-2V4Z" fill="black" fill-opacity="0.68"/>
                                      </g>
                                      <defs>
                                        <filter id="filter0_f_37_214" x="-6" y="0"  filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                                          <feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_37_214"/>
                                        </filter>
                                      </defs>
                                    </svg>
                                  </span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-4 col-md-4 col-0">

                            </div>
                        </div>





                        <div class="banner_content_section">
                            <div class="inner_banner_content_section">


                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-8 col-md-8 col-12">
                                            <div class="banner_up_video_content">
                                                <div class="inner_banner_up_video">
                                                    <h4><span>Upload</span> Once.<br>Translate <span>
                                                  Video
                                                </span> to<br>any <span>Language</span> Video.</h4>
                                                    <p>
                                                        Enjoy quick staff onboarding, monitor employee performance,<br>one click approval for leave, timesheet, claims, and much more.
                                                    </p>
                                                    <div class="banner_up_video_btns">
                                                        <button class="white_btnss active_btn" routerLink="/upload-video/video-upload">Video Upload</button>
                                                        <button class="white_btnss" routerLink="/upload-video/video-upload">Pro Video Upload</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-4 col-md-4 col-0"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slider_item" style="background-image: url('../../../../../assets/img/banner_img.png');">
                        <!-- <img src="../../../../../assets/img/banner_img.png" alt="" srcset=""> -->
                        <div class="row">
                            <div class="col-xl-6 col-lg-8 col-md-8 col-12">
                                <div class="video_slidings_box">
                                    <span class="svg_bg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="" height="" viewBox="0 0 769 635" fill="none">
                                      <g filter="url(#filter0_f_37_214)">
                                        <path d="M-2 4H765L633.982 631H-2V4Z" fill="black" fill-opacity="0.68"/>
                                      </g>
                                      <defs>
                                        <filter id="filter0_f_37_214" x="-6" y="0" width="" height="" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                                          <feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_37_214"/>
                                        </filter>
                                      </defs>
                                    </svg>
                                  </span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-4 col-md-4 col-0">

                            </div>
                        </div>





                        <div class="banner_content_section">
                            <div class="inner_banner_content_section">


                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-8 col-md-8 col-12">
                                            <div class="banner_up_video_content">
                                                <div class="inner_banner_up_video">
                                                    <h4><span>Upload</span> Once.<br>Translate <span>
                                                  Video
                                                </span> to<br>any <span>Language</span> Video.</h4>
                                                    <p>
                                                        Enjoy quick staff onboarding, monitor employee performance,<br>one click approval for leave, timesheet, claims, and much more.
                                                    </p>
                                                    <div class="banner_up_video_btns">
                                                        <button class="white_btnss active_btn" routerLink="/upload-video/video-upload">Video Upload</button>
                                                        <button class="white_btnss" routerLink="/upload-video/video-upload">Pro Video Upload</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-4 col-md-4 col-0"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>



</div>
